# ======================================================================
# Kobra Neo Spacious Display Configuration
# ======================================================================

[display]
# lcd_type: st7789v
display_group: _kobra_neo_spacious

# --- Spacious 20x8 Layout ---

[display_data _kobra_neo_spacious title]
position: 0, 0
text:  Anycubic Kobra Neo 

[display_data _kobra_neo_spacious extruder]
position: 2, 0
text: { render("_heater_temperature", param_heater_name="extruder") }

[display_data _kobra_neo_spacious heater_bed]
position: 2, 10
text: { render("_heater_temperature", param_heater_name="heater_bed") }

[display_data _kobra_neo_spacious speed_factor]
position: 4, 0
text:
  ~feedrate~
  { "{:>4.0%}".format(printer.gcode_move.speed_factor) }

[display_data _kobra_neo_spacious fan]
position: 4, 10
text: { render("_fan_speed") }

[display_data _kobra_neo_spacious print_progress]
position: 6, 0
text:
  {% if 'virtual_sdcard' in printer and printer.virtual_sdcard.progress %}
    ~sd~
  {% else %}
    ~usb~
  {% endif %}
  { "{:^4.0%}".format(printer.display_status.progress) }

[display_data _kobra_neo_spacious progress_bar]
position: 6, 1
text: { draw_progress_bar(6, 0, 10, printer.display_status.progress) }

[display_data _kobra_neo_spacious printing_time]
position: 6, 12
text:
  ~clock~
  { "%6s" % (render("_printing_time").strip(),) }

[display_data _kobra_neo_spacious print_status]
position: 7, 0
text: { render("_print_status") }

# --- Missing High-Res Glyphs ---

[display_glyph sd]
data:
  ................
  ...********.....
  ..*********.....
  .**********.....
  .**********.....
  .**********.....
  .**********.....
  .**********.....
  .**********.....
  .**********.....
  .**********.....
  .**********.....
  .**********.....
  ...********.....
  ................
  ................

[display_glyph usb]
data:
  ................
  .....****.......
  .....****.......
  .....****.......
  .....****.......
  ...********.....
  ...********.....
  ...********.....
  ...********.....
  ...********.....
  ...********.....
  ...********.....
  .....****.......
  .....****.......
  ................
  ................

[display_glyph clock]
data:
  ................
  ....********....
  ..**........**..
  .**..........**.
  .*............*.
  .*.....**.....*.
  .*.....**.....*.
  .*.....**.....*.
  .*.....****...*.
  .*............*.
  .**..........**.
  ..**........**..
  ....********....
  ................
  ................
  ................

# --- Main Menu Z-Offset ---

[menu __main __zoffset]
type: input
name: Z Offset:{'%05.3f' % menu.input}
input: {printer.gcode_move.homing_origin.z}
input_min: -5
input_max: 5
input_step: 0.010
realtime: True
gcode:
    SET_GCODE_OFFSET Z={'%.3f' % menu.input} MOVE=1
